ORIGINS_URLS="http://localhost:5173"
APP_BASE_URL="http://localhost:3000"
BLOCK_PRIVATE_IP=false
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/suridash"
VITE_BASE_URL_API=http://localhost:3000/api
VITE_WS_BASE_URL=ws://localhost:3000