BETTER_AUTH_SECRET=SECRET_KEY_HERE
BETTER_AUTH_URL=http://localhost:3000

# FRONTEND
ORIGIN_URL=http://localhost:5173

# BACKEND / AGENT
APP_BASE_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://suridash_user:securepassword@localhost:5432/suridash_db"

BLOCK_PRIVATE_IP=false


